<md-card id="event-form" style="position: relative" flex="100">
    <md-content class="autoScroll">
        <form name="$ctrl.eventForm" ng-submit="$ctrl.createEvent()" novalidate>
            <md-input-container md-no-float class="md-block content-in-card">
              <label>Название</label>
              <md-icon md-svg-src="svg/ic_text_format_48px.svg"></md-icon>
              <input name="title" ng-model="$ctrl.event.title" type="text" ng-required="true">
              <div ng-messages="$ctrl.eventForm.title.$error">
                <div ng-message="required">Это поле обязательно</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block content-in-card">
              <md-icon md-svg-src="svg/ic_border_color_48px.svg" ></md-icon>
              <input name="description" ng-model="$ctrl.event.description" type="text" placeholder="Описание" ng-required="true">
              <div ng-messages="$ctrl.eventForm.description.$error">
                <div ng-message="required">Это поле обязательно</div>
              </div>
            </md-input-container>
            <div
                valid-datetime
                begin-at="$ctrl.beginAt"
                end-at="$ctrl.endAt"
                change-datetime-handler="changeDatetimeHandler"
                form="$ctrl.eventForm"
                class="event-datetime">
                <div layout="row" layout-align="space-between center">
                    <md-datepicker
                        ng-model="$ctrl.beginAt.date"
                        ng-change="changeDatetimeHandler()"
                        md-placeholder="Enter date"
                        md-min-date="$ctrl.beginAt.minDate"
                        md-max-date="$ctrl.beginAt.maxDate">
                    </md-datepicker>
                    <div layout="row" layout-align="end center" class="event-datetime-time">
                        <md-input-container class="event-datetime-time-item ">
                            <input
                                ng-model="$ctrl.beginAt.hours"
                                ng-change="changeDatetimeHandler()"
                                aria-label="Start hour"
                                type="number"
                                min= "0"
                                max="23"
                                step="1">
                        </md-input-container>
                        <md-input-container class="event-datetime-time-item">
                            <input
                                ng-model="$ctrl.beginAt.minutes"
                                ng-change="changeDatetimeHandler()"
                                aria-label="Start minute"
                                type="number"
                                min= "0"
                                max="59"
                                step="5">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-align="space-between center">
                    <md-datepicker
                        ng-model="$ctrl.endAt.date"
                        ng-change="changeDatetimeHandler()"
                        md-placeholder="Enter date"
                        md-min-date="$ctrl.endAt.minDate"
                        md-max-date="$ctrl.endAt.maxDate">
                    </md-datepicker>
                    <div layout="row" layout-align="end center" class="event-datetime-time">
                        <md-input-container class="event-datetime-time-item event-datetime-time_end-at">
                            <input
                                ng-model="$ctrl.endAt.hours"
                                ng-change="changeDatetimeHandler()"
                                area-label="Finish hour"
                                type="number"
                                min= "0"
                                max="23"
                                step="1">
                        </md-input-container>
                        <md-input-container class="event-datetime-time-item  event-datetime-time_end-at">
                            <input
                                ng-model="$ctrl.endAt.minutes"
                                ng-change="changeDatetimeHandler()"
                                aria-label="Finish minute"
                                type="number"
                                min="0"
                                max="59"
                                step="5">
                        </md-input-container>
                    </div>
                </div>
                <md-input-container md-no-float class="md-block content-in-card event-datetime-error" md-show-errors="false">
                    <input name="Datetime" type="text" ng-model="$ctrl.event">
                    <div ng-messages="$ctrl.eventForm.Datetime.$error">
                        <div ng-message="Datetime">Проверьте дату окончания события</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-between center" class="content-in-card event-image">
                <md-input-container class="md-icon-float md-block">
                    <label>URL Изображения</label>
                    <md-icon md-svg-src="svg/ic_insert_photo_48px.svg"></md-icon>
                    <input ng-model="$ctrl.event.picture" type="text">
                </md-input-container>
                <md-button class="md-fab md-mini md-primary" aria-label="Upload image" disabled="disabled">
                    <md-icon md-svg-src="svg/ic_file_upload_48px.svg"></md-icon>
                </md-button>
            </div>
            <div layout="row" layout-align="space-between center" class="content-in-card event-place">
                <md-input-container class="">
                    <label>Место</label>
                    <md-icon md-svg-src="svg/ic_explore_48px.svg"></md-icon>
                    <input ng-model="$ctrl.viewLocation" type="text" name="location" readonly ng-required="true">
                    <div ng-messages="$ctrl.eventForm.location.$error">
                        <div ng-message="required">Это поле обязательно</div>
                    </div>
                </md-input-container>
                <md-button ng-click="$ctrl.setLocation()" class="md-fab md-mini md-primary" aria-label="Set Location">
                    <md-tooltip md-direction="right">
                        Нажмите на кнопку, затем выберите место на карте
                    </md-tooltip>  
                    <md-icon md-svg-src="svg/ic_edit_location_48px.svg"></md-icon>
                </md-button>
            </div>
            <md-card-actions layout="row" layout-align="start center">
                <md-button type="submit" class="md-primary" ng-disabled="$ctrl.eventForm.$invalid">Cоздать</md-button>
            </md-card-actions>
        </form>
    </md-content>
</md-card>
