<md-card>
    <img ng-show="!!$ctrl.event.picture" ng-src="{{$ctrl.event.picture}}" class="md-card-image" alt="{{$ctrl.event.title}}">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{$ctrl.event.title}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
        <md-card-icon-actions>
            <div ng-show="($ctrl.event.posterId === $ctrl.user.id)">
                <md-button ng-click="$ctrl.editEvent($ctrl.event)" class="md-icon-button" aria-label="Edit event">
                    <md-icon md-svg-src="svg/ic_edit_48px.svg"></md-icon>
                </md-button>
                <md-button ng-click="$ctrl.deleteEvent($event, $ctrl.event)" class="md-icon-button" aria-label="Delete event">
                    <md-icon md-svg-src="svg/ic_delete_48px.svg"></md-icon>
                </md-button>
            </div>    
            <md-button ng-click="$ctrl.toggleSubscribe($ctrl.event)" aria-label="Toggle subscribe">{{ $ctrl.event.membersAmount}}<md-icon md-svg-src="svg/ic_people_48px.svg"></md-icon></md-button>
        </md-card-icon-actions>
    </md-card-actions>
    <md-card-content>
        <p>{{$ctrl.event.description}}</p>
    </md-card-content>
</md-card>