<md-card id="profile" style="position: relative" flex="100">
    <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{$ctrl.user.firstName}} {{$ctrl.user.lastName}}</span>
      <span class="md-subhead">VK</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-sm card-media"><img src="{{$ctrl.user.avatar}}" alt="{{$ctrl.user.firstName}} {{$ctrl.user.lastName}}"></div>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="start center">
    <md-button>Мои события</md-button>
  </md-card-actions>
</md-card>