body{
  height:100%;
  margin:0;
  padding:0;
}
main{
  height:100%;
  margin:0;
  padding:0;
  position: relative;
}
a {
  text-decoration: none;
}
.tools{
  width: 340px;
  padding: 72px 8px 8px 15px;
  display: none;
}
.tools md-card {
  margin: 0 0 8px;
}
map{
  height:100%;
  top:0;
  bottom: 0;
  right: 0;
  left:0;
  position: fixed;
}
#map{
  width:100%;
  height:100%;
}
.content-in-card{
  margin: 14px 14px 0 14px;
}
#preloader{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  background: #fff url('../../gif/preloader.gif') no-repeat 50% 50%;
}
burger-menu md-fab-trigger button.md-button {
  margin: 8px;   
} 
burger-menu {
  left: 15px;
  top: 0;
  position: fixed;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  z-index: 100;
  width: inherit;
}
burger-menu md-fab-toolbar {
  width: 100%;
}
burger-menu md-fab-toolbar .md-fab-toolbar-wrapper {
  height: 72px;
}
burger-menu md-fab-toolbar .md-fab-toolbar-content {
  height: 72px;
}
burger-menu button {
  pointer-events: all;
}
search form {
  padding-left: 80px
}
.search-wrapper {
  position: absolute;
  top: 15px;
  width: inherit;
}
#event-form md-content {
  margin-top: 14px;
}
#event-form .event-datetime {
  margin: 0 14px 0 0;
}
#event-form .event-datetime .event-datetime-time-item  {
  height: 33px;
}
#event-form .event-datetime .event-datetime-time-item.event-datetime-time_end-at {
  margin: 0;
}
#event-form .event-datetime-error {
  margin-top: 0;
}
#event-form .event-datetime-error input {
  display: none;
}
#event-form .event-datetime-error div[ng-message] {
  margin-left: 36px;
}
#event-form .event-place md-input-container, .event-image md-input-container {
  margin: 0;
}
#event-form .event-description textarea {
  height: 100%;
}