body{
  height:100%;
  margin:0;
  padding:0;
}
main{
  height:100%;
  margin:0;
  padding:0;
  position: relative;
}
map{
  height:100%;
  top:0;
  bottom: 0;
  right: 0;
  left:0;
  position: absolute;
}
menu{
  padding: 0;
  margin: 8px 0 0 0;
}
burger{
}

#burger-toolbar{
}
#burger-grid{
  width: 70px;
  margin: 0 0 0 8px;
}
#search-grid{
  margin: 0 8px 0 0;
  min-width: 250px;
  width: 100%;
}
#search{

}
.tools{
  width:340px;
}
a {
  text-decoration: none;
}
#map{
  width:100%;
  height:100%;

}
.content-in-card{
  margin: 14px 14px 0 14px;
}
#preloader{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #fff url('../../gif/preloader.gif') no-repeat 50% 50%;
}
#repeat{
  display: inline;
}
#country_container {
  width: 1000px;
  margin: 13px 3px 3px 0px;
  text-align: center;
  width: 85px;
  padding: 4px;
  display: inline-table;
  color: white;
  background-color: black;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid black;
  border-radius:13px;
}
#country_container:hover {
  box-shadow: 0px 0px 10px black;
  background-color: gray;
  border: 1px solid gray;
  cursor: pointer;
}
#names {
  cursor: pointer;
}
